{% load static %}
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
        <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Proximamente Anime</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-body">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Link 4</a>
                    </li>
                </ul>
            </div>
        <!--Grid column-->
        <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Proximamente Manga</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-body">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Link 4</a>
                    </li>
                </ul>
            </div>
        <!--Grid column-->
        <!--Grid column-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
        <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2020 Copyright:
        <a class="text-body" href="#">Jeff_Developer</a>
    </div>
    <!-- Copyright -->
</footer>