{% extends "layout/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Capitulos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="containercap">
            {% block content %}
            {% for capitulo in capitulos %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <video src="{{ capitulo.video.url }}" controls ></video>
                    <h5 class="card-title">{{ capitulo.title }}</h5>
                    <p class="card-text">{{ capitulo.text }}</p>
                    <a href="#" class="btn btn-primary">ver video</a>
                </div>
            </div>
            {% endfor %}
            {% endblock content %}
        </div>
    </body>
</html>