{% extends "layout/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Capitulos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://vjs.zencdn.net/8.9.0/video-js.css" rel="stylesheet" />
    </head>
    <body>
        {% block content %}
        {% for capitulo in capitulos %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="264"
                poster="MY_VIDEO_POSTER.jpg"
                data-setup="{}"
            >
            <source src="{{ capitulo.video.url }}" type="video/mp4" />
            
                <h5 class="card-title">{{ capitulo.title }}</h5>
                <p class="card-text">{{ capitulo.text }}</p>
                <a href="#" class="btn btn-primary">ver video</a>
            </div>
        </div>
        {% endfor %}
        {% endblock content %}
        <script src="https://vjs.zencdn.net/8.9.0/video.min.js"></script>
    </body>
</html>