{% extends "layout/base.html" %}
{% load static %}
{% load mega_urls %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        {% block content %}
        <div class="containercap"> 
            {% for x in mangas %}
            <div class="card">  
                <img src="{{ x.img.url }}" class="card-img-top" alt="{{ manga.title }}">
                <div class="card-body">
                    <br>
                    <h5 class="card-title">{{ x.title }}</h5>
                    <p class="card-title">{{ x.text }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="tomos">
                <ul class="card">
                    
                    <a class="botonnav" href="{% call get_mega_url_download 'https://mega.nz/file/HjQRBCYC#bSUYO-eXKFtGKToG4sng_CHZEBUzJxiu5V3BkDigv04' %}">Descargar</a>

                </ul>
            </div>
        </div>
        {% endblock content %}
        <script src="" async defer></script>
    </body>
</html>