
*{
    margin: 0;
    
}
body{
    height: 100vh;
}
a{
    list-style: none;
}

/* background-image: linear-gradient(to right,#220080,#630005,#59008dc2); */

/*CONTENEDOR PRINCIPAL_________________________________________________________________________________________*/
.containernav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right,#220080,#630005,#59008dc2);
}
/*SUB CONTENEDORES_______________________________________________________________________________________*/
.navbar{
    width: auto;
    height: 100%;
    position: relative;
    float: inline-end;
    text-align: center;
}
/* CONTENEDOR DE CADA BOTON______________________________________________________________________________*/
.nav-list {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: rgb(151, 0, 0);
    --btn-bg-2: rgb(88, 2, 128);
    --btn-bg-color: rgba(255, 255, 255, 0.514);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}
.nav-list:hover {
    background-position: right top;
}
.nav-list:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}
@media (prefers-reduced-motion: reduce) {
    .nav-list {
    transition: linear;
    }
}
/*BOTONES___________________________________________________________________________*/
.botonnav {
    text-decoration: none;
    color: #e1bfff;
    cursor: pointer;
    font-size: x-large;
    font-family: 'Permanent Marker', cursive;
}
/*FOOTER___________________________________________________________________________*/
.containerfooter{
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to right,#220080,#630005,#59008dc2);
}
.containerfooter p{
    color: #e1bfff;
}
.containerfooter h5 h6{
    color: #e1bfff;
}
.containerfooter a{
    color: #e1bfff;
    text-decoration: none;
}
.copifooter{
    display: block;
}